/models
/result
/outputs
/slurm_logs
**/__pycache__/
test.py
*.parquet
*.jsonl.bk
*.json
*.jsonl
*.log
wandb/
wandb
_backup/
workspace
*.txt
torchinductor_weihuad
plot
!dataset/test/*
!dataset/train/whole_training_set.jsonl
!requirements.txt